body {
  background-color: rgb(207, 173, 154);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.main-img {
  width: 750px;
  height: 500px;
}

.container {
  position: relative;
  display: inline-block;
}

.oso {
  position: absolute;
  width: 100px;
  transition: transform 0.3s ease;
}

.pardo {
  top: 320px;
  left: 160px;
}

.panda {
  top: 320px;
  left: 325px;
}

.polar {
  top: 320px;
  left: 490px;
}

.oso:hover {
  transform: scale(1.1);
}
.roca {
  position: absolute;
  width: 120px;
  top: 400px;
  left: 270px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nube {
  position: absolute;
  top: 100px;
  left: 0;
  width: 120px;
  animation: moverNube 2s linear infinite alternate; 
}

#contador.activo {
  transform: scale(1.1);
}

#contador {
  width: 130px;
  margin: 15px auto;
  padding: 10px;
  background-color: rgb(203, 230, 122);
  border: 3px solid rgb(167, 116, 45);
  border-radius: 10px;
  text-align: center;
  color: rgb(15, 15, 14);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
  top: 320px;
  left: 180px;
}


@keyframes moverNube {
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.sol {
  position: absolute;
  top: 50px;
  left: 600px;
  width: 90px;
  animation:moverSol 2s linear infinite alternate; 
}

@keyframes moverSol {
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes salto {
  0%{transform: translateY(0); opacity: 1;}
  30%{transform: translateY(-60px);}
  100%{transform: translateY(0); opacity: 0;}

}
 .saltar {
  animation: salto 0.5s ease forwards;
 }



/* ESCENARIO 2 */


.container2 {
  position: relative;
  display: inline-block;
}


.main-img {
  width: 750px;
  height: 500px;
  
}


.personaje {
  position: absolute;
  bottom: 18px;          
  transition: transform 0.25s ease;
  z-index: 2;            
  pointer-events: auto;  
}


.zoro {
  left: 60px;
  width: 140px;
  transform-origin: bottom center;
}

.sanji {
  left: 240px;
  width: 130px;
  transform-origin: bottom center;
}

.luffy {
  left: 420px;
  width: 140px;
  transform-origin: bottom center;
}

.choper {
  left: 600px;
  width: 110px;
  transform-origin: bottom center;
}


.personaje:hover {
  transform: translateY(-6px) scale(1.03);
}

.one1 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 120px;
  animation: moverNube 2s linear infinite alternate; 
}

.one {
  position: absolute;
  top: 50px;
  left: 600px;
  width: 90px;
  animation:moverSol 2s linear infinite alternate; 
}

@keyframes moverOne {
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}


@keyframes moverOne1 {
  0%{
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes salto {
  0%{transform: translateY(0); opacity: 1;}
  30%{transform: translateY(-60px);}
  100%{transform: translateY(0); opacity: 0;}

}
 .saltar {
  animation: salto 0.5s ease forwards;
 }


 /*carrusel*/



.escena {
  display: none;
}


.escena.activa {
  display: block;
}


.controles {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.anterior, .siguiente {
  background-color: rgb(237, 218, 167);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.anterior:hover, .siguiente:hover {
  background-color: rgb(225, 186, 78);
  transform: scale(1.05);
}


.galeria {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.miniatura {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid violet;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s;
}

.miniaturaUno {
  background-image: url('fondo.webp'); 
  background-size: cover;
  background-position: center;
}

.miniaturaDos {
  background-image: url('fondoo2.png'); 
  background-size: cover;
  background-position: center;
}

.miniaturaTres {
  background-image: url('paisaje.jpg'); 
  background-size: cover;
  background-position: center;
}



