body {
margin: 0;
font-family: 'Poppins', sans-serif;
background: #f5efe6;
color: #3a2b20;
}


.capitulos h2 {
text-align: center;
font-size: 3rem;
margin: 40px 0 60px;
letter-spacing: 2px;
color: #7a4b32;
}

.capitulo > p {

    text-align: center;
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 40px auto;
    color: #6b5a4a;
}



.capitulo-list {
display: flex;
flex-direction: column;
gap: 45px;
padding-bottom: 70px;
}


.capitulo {
width: 68%;
max-width: 850px;
margin: auto;
background: #fffaf4;
border-radius: 20px;
padding: 28px 32px;
box-shadow: 0 6px 18px rgba(122, 75, 50, 0.12);
}


.capitulo h3 {
font-size: 24px;
margin-bottom: 10px;
color: #9b5a36;
}


.capitulo .resumen {
font-size: 15.5px;
line-height: 1.7;
margin-bottom: 18px;
color: #4a362a;
}


.capitulo video,
.capitulo iframe {
width: 100%;
height: 340px;
border-radius: 15px;
background: #000;
}


.capitulo:hover {
transform: translateY(-3px);
transition: 0.3s ease;
}