
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #EFE6D8;
  font-family: Arial, Helvetica, sans-serif;
  color: #3E2723;
}

/* ===== CONTENEDOR ===== */
.contenedor-capitulo {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 40px;
}

/* ===== CAPÍTULO ===== */
.card-capitulo {
  background-color: #FAF8F5;
  border-radius: 25px;
  padding: 40px;
  text-align: center;
}

.card-capitulo h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.card-capitulo img {
  width: 100%;
  max-width: 600px;
  border-radius: 18px;
  margin: 30px 0;
}

.descripcion {
  font-size: 1rem;
  margin-bottom: 25px;
}


.boton-volver {
  display: inline-block;
  background-color: #6D7F5A;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
}

.cap-video {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  margin: 20px 0;
}
