/* CAPITULOS.CSS & PERSONAJES.CSS */

:root {
    --cafe-oscuro: #2a1f1a;
    --cafe-medio: #4e392f;
    --beige: #f5e6d3;
}

.btn-volver {
    margin: 20px;
    padding: 10px 14px;
    background: var(--cafe-medio);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.card-detalle {
    max-width: 900px;
    margin: auto;
    padding: 25px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagen-detalle {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 20px;
}