/* ========================
      PERSONAJES
   ======================== */

:root {
    --cafe-oscuro: #2a1f1a;
    --cafe-medio: #4e392f;
    --beige: #f5e6d3;
}

body {
    background: var(--beige);
    font-family: "Poppins", sans-serif;
}

.btn-volver {
    margin: 20px;
    padding: 10px 14px;
    background: var(--cafe-medio);
    color: white;
    border-radius: 8px;
    border: none;
}

.card-detalle {
    max-width: 900px;
    margin: auto;
    padding: 25px;
    background: white;
    border-radius: 14px;
}

.imagen-detalle {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}
