* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b0b0b;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */
.hero {
  position: relative;
  height: 70vh;
  background-image: url('headerr.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero h1 {
  font-size: 5rem;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
}

.sinopsis {
  font-size: 1.3rem;
  line-height: 1.8;
  margin-bottom: 40px;
}

.Genero {
  font-size: 2rem;
  color: #e7dcdc;
  margin-bottom: 5px;
  font-weight: 500px;
}


.buttons button {
  background-color: #DFAC13;
  border: none;
  color: rgb(1, 1, 1);
  padding: 14px 30px;
  margin-right: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.buttons button:hover {
  background-color: #d4b65c;
}

.buttons .secondary {
  background-color: transparent;
  border: 2px solid #d4b65c;
}

/* CAPÍTULOS */
.capitulos {
  padding: 80px 80px;
}

.capitulos h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-align: center;
}

.capitulo-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.capitulo {
  width: 320px;
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.capitulo:hover {
  transform: scale(1.05);
}

.capitulo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.capitulo h3 {
  padding: 15px;
  font-size: 1.1rem;
  color: #fff;
}

.resumen {
  display: none;
  padding: 0 15px 20px 15px;
  font-size: 0.95rem;
  color: #ccc;
}

/* PERSONAJES */
.characters {
  padding: 80px;
  background-color: #111;
}

.characters h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.character-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.character {
  width: 300px;
  text-align: center;
}

.character img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.character h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.character p {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
}