
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFE6D8;
  color: #3E2723;
  line-height: 1.6;
  opacity: 0;
    animation: fadeIn 1s ease-in forwards;


}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}






.barra {
  background-color: #3E2723;
  padding: 15px 50px;
}

.contenedor-barra {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  color: #FAF8F5;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu a {
  color: #FAF8F5;
  font-size: 1rem;
}

/* ===== HERO ===== */
.hero {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  animation: cambiarFondo 12s infinite; 

}

@keyframes cambiarFondo {
  0%   { background-image: url('imgcarrusel/carrusel1.jpg'); }
  33%  { background-image: url('imgcarrusel/carrusel2.jpg'); }
  66%  { background-image: url('imgcarrusel/carrusel3.jpg'); }
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 650px;
  padding-left: 80px;
  color: #FAF8F5;
}

.hero-content h1 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.sinopsis {
  font-size: 1rem;
  margin-bottom: 20px;
}

.Genero {
  margin-bottom: 25px;
}

/* ===== BOTONES ===== */
.buttons {
  display: flex;
  gap: 15px;
}

.boton {
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 0.95rem;
}

.principal {
  background-color: #6D7F5A;
  color: rgb(36, 11, 3);
}

.secundario {
  border: 2px solid #310b04;
  color: #310b04;
}

/* ===== SECCIONES ===== */
section {
  max-width: 1200px;
  margin: auto;
  padding: 70px 50px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

/* ===== LISTAS ===== */
.capitulos-list,
.personaje-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

/* ===== TARJETAS ===== */
.capitulo,
.personaje {
  background-color: #FAF8F5;
  border-radius: 18px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.capitulo:hover,
.personaje:hover {
  transform: translateY(-6px);
}

.capitulo img,
.personaje img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.capitulo h3,
.personaje h3 {
  font-size: 1.2rem;
  margin: 15px;
}

.capitulo p,
.personaje p {
  font-size: 0.95rem;
  margin: 0 15px 20px;
}
